#section1 {
    height: 1200px   ;
    background-color: rgb(0, 0, 0);
  }
  
  #pong {
    height: 2000px;
    background-color: rgb(0,0,0);
  }



#snake {
    height: 800px;
    background-color: rgb(0,0,0);
}


